
#header{
  width:1160px;
  padding: 100px
  margin-bottom: 50px;
  padding: 5px;
  border: 0px solid;
}


#nav{
 width: 50px;
 padding: 50px;
 float: left;
 margin: 10px;
 margin-top: 80px;
 border: 0px solid;
}


#section{
  width: 950px;
  padding: 20px;
  margin: 10px;
  float: right;
  border: 0px solid;
}


ol{
  list-style:none;
}


h1{
  color: #ffd700;
  text-align: center;
}
.s1{
  text-shadow: 2px 2px 0px #FC8624, 4px 4px 0px #FA780C, 6px 6px 0px #FF7400;
  font-size: 90px
}



a{
  text-decoration:none;
}
a:visited{
  color:#ffd700; text-decoration:none;
}
a:link{
  color: #ffd700; text-docoration:none;
}
a:hover{
  color:#ffd700; text-decoration:none;
}

h2{
  text-align:center;
  color: #FC8624;
}
.s2{
  text-shadow: 2px 2px 0px #ffd700;
  font-size: 30px
}

.s3{
  text-shadow: 1px 1px 0px #FC8624, 1.5px 1.5px 0px #FA780C, 2px 2px 0px #FF7400;
  font-size: 20px;
}

.s4{
  font-size: 20px;
  text-align: right;
}

body
{
  background-color: lightyellow;
}

textarea{
    resize: none;
  }
